:root {
    --primary-color: #f4f3f2;
    --secondary-color: #208466;
    --tertiary-color: #12514b;
    --background-color: #0a0d12;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Grotesk";
    src: url("../assets/fonts/SpaceGrotesk-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    position: sticky;
    z-index: 10;
    top: 1rem;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: var(--background-color);
    color: var(--primary-color);
}

code {
    font-family: "JetBrains Mono", monospace;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

u {
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    text-decoration-skip-ink: all;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}

.flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
