---
import Layout from "../layouts/PageLayout.astro";
import links from "../content/links.json";
import Socials from "../components/Socials.astro";
---

<Layout>
    <h1>Contact</h1>
    <p>
        Vous pouvez nous contacter par mail à
        <a href={`mailto:${links.mail}`}>
            {links.mail}
        </a>.
    </p>

    <h2>Local</h2>
    <p>
        Le plus simple est de venir nous voir directement à notre local, en D207
        dans la Tour Radio !
    </p>

    <h2>Réseaux</h2>
    <Socials />
    <p>
        Suivez-nous sur nos réseaux sociaux pour échanger et être au courant de
        nos formations et évènements !
    </p>
</Layout>
