---
import Layout from "../layouts/PageLayout.astro";
---

<Layout>
    <h1>Formations</h1>
    <p>
        Ça arrive, restez branchés ! Vous retrouverez ici les supports des
        formations passées
    </p>
</Layout>
