---
import Layout from './BaseLayout.astro';
import HeroBackground from '../components/HeroBackground.svelte';
---

<Layout>
    <HeroBackground client:only="svelte" />
    <div class="hero">
        <code>L'ASSOCIATION D'INFORMATIQUE DE L'ENSEEIHT</code>
    </div>
    <div class="container">
        <slot />
    </div>
</Layout>

<style>
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    code {
        position: absolute;
        text-align: center;
        font-size: 16;
        bottom: 10rem;
    }

</style>